<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

		var rectangle = new google.maps.Rectangle({
		    strokeColor: '#FF0000',
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: '#FF0000',
		    fillOpacity: 0.35,
		    map: map,
		    bounds: {
		      north: -25.37,
		      south: -25.35,
		      east: 131.1,
		      west: 131
		    }
	  	});

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6hbSjCuN4EQsh34uhHO1C7gMQNdwBBg4&callback=initMap">
    </script>
  </body>
</html>