<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
       #map {
        height: 550px;
        width: 100%;
       }
    </style>
    <script src="../javascripts/get.js" type="text/javascript"></script>
    <script src="../javascripts/resources.js" type="text/javascript"></script>
  </head>
  <body>

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>

    <script>

    function initMap() {
        
        var data = <%- JSON.stringify(data) %>;
        var result = <%- JSON.stringify(result) %>;

        var mapProperties = getMapProperties(data, result, time);
        mbrCenter = mapProperties.center;
        locations = mapProperties.locations;
        
        if(map == "NULL"){
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: mbrCenter
            });
        }
        else{
          map.setCenter(mbrCenter);
        }

        
        for(var key in markers){
            markers[key].setMap(null);
        }
      
        for(var key in locations){
            if(locations[key] != "NULL"){
                markers[key] = new google.maps.Marker({
                    position: locations[key],
                    label: String(key),
                    title: String(key)
                });

                markers[key].setMap(map);
            } 
            else{
                markers[key].setMap(null);
            }           
        }

        minLat = mbrCenter.lat - R.d1 / 2;
        minLng = mbrCenter.lng - R.d2 / 2;
        
        if(rectangle != null) rectangle.setMap(null);
        
        rectangle = new google.maps.Rectangle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            bounds: {
              north: minLat,
              south: minLat + R.d1,
              east: minLng + R.d2,
              west: minLng
            }
        });
    }

    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6hbSjCuN4EQsh34uhHO1C7gMQNdwBBg4&callback=initMap">
    </script>
    
    <input type="range" id="slider" style="width: 500px;" min="0" max="5900" value=0 step="100" onchange="showValue(this.value)" />

    <!--script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6hbSjCuN4EQsh34uhHO1C7gMQNdwBBg4&callback=initMap">
        function showValue(newValue){
            document.getElementById("range").innerHTML=newValue;
        }
    </script-->

    <script type="text/javascript">
        function showValue(newValue){
            time = newValue;
            document.getElementById("range").innerHTML = time;
            initMap();
        }
    </script>
    <span id="range"> ? </span>
  </body>
</html>