<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <script src="../javascripts/get.js" type="text/javascript"></script>
    <script src="../javascripts/resources.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/dropdown.css" /></script>
  
  </head>
  <body>
    
    <h3>COMAXRS Demo</h3>

    <br><br> Select Dataset  
    <select id="datasetSelect" onchange="setDataset()">
        <option value="3984">MNTG 1
        <option value="4251">MNTG 2
    </select>

    <script>
        var dataset = <%- JSON.stringify(dataset) %>;
        console.log(dataset);

        if(dataset != ""){
            var x = document.getElementById("datasetSelect");
            var option = document.createElement("option");
            option.text = "newDataset";
            x.add(option, x[0]);
            x.selectedIndex = 0;
        }
    </script>

    <br><br> Upload New Dataset <br><br>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>

    <script>
    function setDataset() {
        dataset = document.getElementById("datasetSelect").value;
        //console.log(dataset);
        //console.log(T.start);
        
        if(dataset == "SF"){
            document.getElementById("startTime").min = 1211018404;
            document.getElementById("startTime").max = 1213089934;
            document.getElementById("start").innerHTML = 0;
        }
        else if(dataset == "3984"){
            document.getElementById("startTime").min = 0;
            document.getElementById("startTime").max = 59;
            document.getElementById("start").innerHTML = 0;
        }
        else if(dataset == "4251"){
            document.getElementById("startTime").min = 0;
            document.getElementById("startTime").max = 299;
            document.getElementById("start").innerHTML = 0;
        }

        setShowParameters(dataset, T.start, T.end);
    }
    </script>

    <br><br> Start Time <br>
    <input type="range" id="startTime" style="width: 500px;" min="" max="" value=0 step="1" onchange="setStartTime(this.value)" />

    <script type="text/javascript">
        function setStartTime(newValue){
            T.start = parseInt(newValue);
            T.end = T.start + duration * 60;
            document.getElementById("start").innerHTML = newValue;
            setShowParameters(dataset, T.start, T.end);
        }
    </script>
    <span id="start"> ? </span>

    <br><br> Time Range <br>
    <input type="range" id="duration" style="width: 500px;" min="0" max="90" value=0 step="1" onchange="setEndTime(this.value)" />

    <script type="text/javascript">
        function setEndTime(newValue){
            duration = parseInt(newValue);
            T.end = T.start + duration * 60;
            document.getElementById("end").innerHTML = newValue+ ' minute(s)';
            setShowParameters(dataset, T.start, T.end);
        }
    </script>
    <span id="end"> 0 minute(s) </span>

    <br><br><a href="" class="button" id="redirect">Show in Map</a>
    <script type="text/javascript">
        function setShowParameters(data, start, end){
            if(dataset == '3984') end = Math.min(end, 59);
            else if(dataset == 'SF') end = Math.min(end, 1213089934);
            else if(dataset == '4251') end = Math.min(end, 299);
 
            var addr = "/show/"+data+"/"+start.toString()+"/"+end.toString();
            console.log(addr);
            document.getElementById("redirect").href = addr;
        }
    </script>

  </body>

</html>
